.idea
.vscode

.history
.DS_Store
.node
.nyc_output
.happypack
.tmp
*.bak
*.log
*.out
*.pyc
*.swp
.vim
dump.rdb
*.rest

dist
node_modules
run
coverage
server/conf/local*

local.*
vendor-client-manifest.json
vendor-client_admin-manifest.json

client/vendor
client/entries/index.html
client_admin/vendor
client_admin/entries/index.html
www-onelive
*-audit.json

pm2.json
server/swagger.yaml
